@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .hexagon{
        -webkit-clip-path: polygon(50% 5%, 90% 25%, 90% 75%, 50% 95%, 10% 75%, 10% 25%);
        clip-path: polygon(50% 5%, 90% 25%, 90% 75%, 50% 95%, 10% 75%, 10% 25%);
    }

    .rotation{
        transform: rotateZ(15deg);
    }

    .hexa-shadow{
        filter: drop-shadow(1rem 1rem 2rem rgba(54, 15, 28, 0.5));
    }
}